.HOME {
    background-color: #0b1d26;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .HOME .div {
    background-color: var(--bg);
    overflow: hidden;
    width: 1920px;
    height: 1435px;
    position: relative;
    box-shadow: var(--shadow);
  }
  
  .HOME .text-wrapper {
    top: 3155px;
    left: 827px;
    position: absolute;
    opacity: 0.5;
    font-family: "Actor-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .HOME .social {
    position: absolute;
    width: 24px;
    height: 173px;
    top: 359px;
    left: 80px;
  }
  
  .HOME .overlap-group {
    position: absolute;
    width: 2188px;
    height: 161px;
    top: 40px;
    left: 29px;
  }
  
  .HOME .navbar {
    position: absolute;
    width: 1760px;
    height: 64px;
    top: 28px;
    left: 428px;
  }
  
  .HOME .blog {
    left: 579px;
    position: absolute;
    top: -8px;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .HOME .blog-2 {
    left: 1318px;
    position: absolute;
    top: -8px;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .HOME .about-us {
    position: absolute;
    top: -8px;
    left: 254px;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .HOME .text-wrapper-2 {
    left: 117px;
    position: absolute;
    top: -8px;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .HOME .blog-3 {
    left: 785px;
    position: absolute;
    top: -8px;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .HOME .text-wrapper-3 {
    position: absolute;
    width: 434px;
    top: 0;
    left: 0;
    font-family: "Michroma-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .HOME .frame {
    position: absolute;
    width: 1264px;
    height: 668px;
    top: 384px;
    left: 328px;
  }
  
  .HOME .text-wrapper-4 {
    position: absolute;
    top: 43px;
    left: 46px;
    font-family: "Actor-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .HOME .p {
    position: absolute;
    top: 75px;
    left: 46px;
    font-family: "Actor-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .HOME .text-wrapper-5 {
    position: absolute;
    top: 240px;
    left: 239px;
    font-family: "Actor-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  
  .HOME .text-wrapper-6 {
    top: 1361px;
    left: 899px;
    position: absolute;
    opacity: 0.5;
    font-family: "Actor-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    white-space: nowrap;
  }
  